<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'chat-page' %}">ONLINE CHAT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout-user' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          {% endif %}
          
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login-user' %}">Login</a>
          </li>        
          {% endif %} 
        </ul>

        
        {% if request.user.is_authenticated %}
        <div class= 'navbar-brand hidden-xs collapse navbar-collapse justify-content-end'> 
          Welcome {{user.first_name}}!
        </div>
        <a href="{% url 'profile' %}">
          <img src="{{ user.profile.profile_pic.url }}" width="40" height="40" class="rounded-circle" style="object-fit: cover; margin-right: 10px">
        </a>
        {% endif %}
      </div>
    </div>
  </nav>