{% extends 'chat/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    {% if form.errors %}
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        There was an Error with your form...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div style="margin-left: 30px;">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
    
            <br><br>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    </div>
    <br/>

</body>
</html>
{% endblock %}